.button__wrapper {
  display: grid;
  transition: all 0.1s ease-in-out;
  background-color: white;
  border-radius: 0 0 min(10px, 1vw) min(10px, 1vw);
}

.unvisible__button-wrapper[aria-hidden='true'] {
  max-height: 0;
  padding: 0;
}

.unvisible__button-wrapper>button{
  max-height: 0;
  padding: 0;
  pointer-events: none;
  opacity: 0;
}

.visible__button-wrapper {
  padding: min(10px, 1vw);
  margin-top: min(10px, 1vw);
  max-height: 10vh;
}
