.buttons {
    display: grid;
    grid-template-columns: min-content 3fr 1fr;
    column-gap: min(10px, 1vw);
    padding-top: min(10px, 1vw);
}

.save {
    width: min-content;
    justify-self: right;
}

.cancel {
    cursor: pointer;
}

.add__button {
    display: grid;
    justify-self: center;
    align-self: self-end;
    border-radius: min(10px, 1vw);
    font-size: 1rem;
    max-height: 10vh;
    transition: all 0.2s ease-in-out;
}

.close__button {
    opacity: 0;
    max-height: 0;
    transform: translateX(-3vw);
    pointer-events: none;
}

.open__button {
    opacity: 1;
}