.button__wrapper {
  display: grid;
  transition: all 0.2s ease-in-out;
  background-color: white;
  border-radius: 0 0 min(10px, 1vw) min(10px, 1vw);
}

.unvisible__button-wrapper {
  max-height: 0;
  padding: 0;
}

.visible__button-wrapper {
  padding: min(10px, 1vw);
  max-height: 10vh;
}
