.clear__resume {
  display: grid;
  grid-template-columns: min-content max-content;
  justify-content: center;
  align-items: center;
  color: rgb(179, 0, 0);
  font-weight: 500;
  cursor: pointer;
}

.clear__resume>.span__wrapper {
  border-radius: min(10px, 1vw);
  box-shadow: 0 2px 6px #959da5;
  display: grid;
  justify-content: center;
}

.clear__resume:hover>.span__wrapper {
  transform: translateY(-1px);
}

@media screen and (max-aspect-ratio: 0.9/1) {
  .clear__resume {
    grid-template-columns: min-content 1fr;
  }
}