.content__sections {
  display: grid;
  border-radius: min(20px, 2vw);
  gap: min(10px, 1vw);
}

.content__sections:has(.unvisible__section:first-child) {
  gap: 0;
}

.personal__details,
.experience,
.education {
  display: grid;
  transition: all 0.19s ease-in-out;
}

.visible__section {
  opacity: 1;
  max-height: 100vh;
}

.unvisible__section {
  opacity: 0;
  max-height: 0;
  pointer-events: none;
  visibility: hidden;
  gap: 0;
}

.section__head {
  display: grid;
  grid-template-columns: max-content min-content;
  align-items: center;
  justify-content: space-between;
  font-size: min(1rem, 3vw);
}

.open__head {
  border-radius: min(10px, 1vw) min(10px, 1vw) 0 0;
}

.close__head {
  border-radius: min(10px, 1vw);
  transition: border-radius 0.1s ease-in-out;
}

.section__body {
  display: grid;
  height: min-content;
  border-radius: 0 0 min(10px, 1vw) min(10px, 1vw);
  opacity: inherit;
}

.block {
  pointer-events: none;
}