.content__sections {
  display: grid;
  border-radius: min(20px, 2vw);
  gap: min(10px, 1vw);
}

.personal__details,
.experience,
.education {
  display: grid;
  transition: all 0.2s ease-in-out;
}

.visible__section {
  opacity: 1;
  max-height: 100%;
}

.unvisible__section {
  display: grid;
  opacity: 0;
  max-height: 0;
  transform: translateX(-1vh);
  padding-top: 0 !important;
}

.section__head {
  display: grid;
  grid-template-columns: max-content min-content;
  align-items: center;
  justify-content: space-between;
  font-size: 1rem;
}

.open__head {
  border-radius: min(10px, 1vw) min(10px, 1vw) 0 0;
}

.close__head {
  border-radius: min(10px, 1vw);
  transition: border-radius 0.1s ease-in-out;
}

.section__body {
  display: grid;
  height: min-content;
  border-radius: 0 0 min(10px, 1vw) min(10px, 1vw);
  transition: 1s all ease-in-out;
}

.block {
  pointer-events: none;
}