li {
    transition: all 0.2s ease-in-out;
}

.unvisible__field {
    opacity: 0;
    max-height: 0;
    transform: translateX(-3vw);
    transition: all 0.2s ease-in-out, transform 1s ease-in-out;
}

.visible__field {
    max-height: 100vh;
}