li {
    transition: all 0.3s ease-in-out;
}

.unvisible__field {
    border: 0px green solid;
    font-size: 0;
    transform: translateX(-5vw);
    margin: 0;
    height: 0;
    padding: 0;
    opacity: 0;
}

.visible__field {
    border: 1px red solid;
    height: min-content;
    transform: translateX(0vw);
    opacity: 1;
}