li {
  opacity: 0;
  max-height: 100vh;
}

.unvisible__field {
  display: grid;
  opacity: 0;
  max-height: 0;
  transform: translateX(-1vh);
  padding-top: 0!important;
  transition: all 0.2s ease-in-out;
}

.visible__field {
  display: grid;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.unvisible__field:nth-child(even) {
  
}

.unvisible__field:nth-child(odd) {
  
}