form {
  display: grid;
  border-radius: min(10px, 1vw);
  overflow: hidden;
  padding: min(20px, 2vw);
  max-height: 100vh;
}

#education__form,
#experience__form {
  padding: 0;
}

ul {
  list-style: none;
  height: min-content;
}

li {
  display: grid;
  gap: min(10px, 1vw);
}

input,
textarea {
  display: grid;
  background-color: rgb(232, 242, 255);
  padding: min(10px, 1vw);
  border-radius: min(10px, 1vw);
}

textarea {
  resize: vertical;
}

.recommended__text,
.optional__text {
  padding-left: min(10px, 1vw);
  font-size: 0.8rem;
  color: rgb(142, 164, 190);
}

.visible__form:has(.visible__field) {}