form {
  display: grid;
  border-radius: min(10px, 1vw);
  overflow: hidden;
  padding: min(20px, 2vw);
  max-height: 100vh;
  transition: max-height 0.6s ease-in-out;
  opacity: inherit;
}

#personalDetails__form,
#education__form,
#experience__form {
  padding: 0;
}

ul {
  list-style: none;
  height: min-content;
}

li {
  display: grid;
  gap: min(10px, 1vw);
}

label {
  font-size: min(1.2rem, 3vw);
}

input,
textarea {
  display: grid;
  background-color: rgb(232, 242, 255);
  padding: min(10px, 1vw);
  border-radius: min(10px, 1vw);
  appearance: none;
  font-size: min(1rem, 2.5vw);
  width: 100%;
}

textarea {
  resize: vertical;
}

.recommended__text,
.optional__text {
  padding-left: min(10px, 1vw);
  font-size: min(0.8rem, 2vw);
  color: rgb(142, 164, 190);
}

.visible__form:has(.visible__field) {}