form {
  display: grid;
  border-radius: min(10px, 1vw);
  overflow: hidden;
  padding-right: min(20px, 2vw);
  padding-left: min(20px, 2vw);
  background-color: white;
  transition: padding 0.2s ease-in-out;
}

ul {
  list-style: none;
}

li {
  display: grid;
  gap: min(10px, 1vw);
}

input,
textarea {
  display: grid;
  background-color: rgb(232, 242, 255);
  padding: min(10px, 1vw);
  border-radius: min(10px, 1vw);
}

textarea {
  resize: vertical;
}

.recommended__text, .optional__text {
  padding-left: min(10px, 1vw);
  font-size: 0.8rem;
  color: rgb(142, 164, 190);
}

.visible__form:has(.visible__field) {
  padding-top: min(20px, 2vw);
  padding-bottom: min(20px, 2vw);
  transition: padding 0.2s ease-in-out;
}