.parameters {}

.visible__parameter {
    margin-bottom: min(10px, 1vw);
    background-color: white;
    border-radius: min(10px, 1vw);
    max-height: 100vh;
    padding: min(10px, 1vw);
}

.unvisible__parameter {
    pointer-events: none;
    max-height: 0;
    font-size: 0rem;
    padding-top: 0;
    padding-bottom: 0;
    opacity: 0 !important;
}

.unvisible__parameter>.fonts__body>button {
    padding-top: 0;
    padding-bottom: 0;
    font-size: 0rem;
    opacity: 0 !important;
}

.unvisible__parameter>.fonts__body>button>span:first-child {
    font-size: 0rem;
}

.layout,
.color,
.fonts {
    display: grid;
    padding-left: min(10px, 3vw);
    padding-right: min(10px, 3vw);
    gap: 1vw;
    transition: all 0.1s ease-in-out;
}

.layout {
    grid-template-rows: repeat(2, min-content);
}

.layout__head,
.color__head {
    display: grid;
    max-height: inherit;
}

.layout__body {
    display: flex;
    justify-content: center;
    gap: min(20px, 2vw);
    flex-wrap: wrap;
    max-height: inherit;
}

.layout__type__wrapper>div:hover,
.fonts__body>button:hover {
    box-shadow: 0 2px 6px #959da5;
}

.layout__type__wrapper {
    display: grid;
    justify-content: center;
    justify-items: center;
    cursor: pointer;
    max-height: inherit;
}

.top__layout,
.left__layout,
.right__layout {
    display: grid;
    height: min(65px, 8vw);
    width: min(65px, 8vw);
    border-radius: min(10px, 1vw);
    border: 1px black solid;
    overflow: hidden;
    max-height: inherit;
}

.top__layout {
    grid-template-areas:
        'color-side'
        'white-side';
}

.left__layout {
    grid-template-areas:
        'color-side white-side';
}

.right__layout {
    grid-template-areas:
        'white-side color-side';
}

.top__layout>.color__side {
    border-bottom: 1px black solid;
}

.left__layout>.color__side {
    border-right: 1px black solid;
}

.right__layout>.color__side {
    border-left: 1px black solid;
}

.color__side {
    display: grid;
    grid-area: color-side;
    width: 100%;
    height: 100%;
    background-color: red;
    max-height: inherit;
}

.white__side {
    grid-area: white-side;
    max-height: inherit;
}

.fonts__body {
    display: flex;
    justify-content: center;
    gap: min(20px, 2vw);
    flex-wrap: wrap;
    max-height: inherit;
}

.fonts__body>button {
    display: grid;
    appearance: none;
    background-color: white;
    border: 1px black solid;
    grid-template-rows: repeat(2, min-content);
    height: min(65px, 8vw);
    width: min(65px, 8vw);
    justify-content: center;
    align-content: center;
    font-size: min(1rem, 3vw);
    max-height: inherit !important;
}

.fonts__body>button:focus {
    background-color: var(--focusBackgroundColor);
    color: var(--focusFontColor);
}

.fonts__body>button>span:first-child {
    font-size: min(1.5rem, 5vw);
}

.serif {
    font-family: serif;
}

.sans {
    font-family: sans-serif;
}

.mono {
    font-family: monospace;
}

.color__body {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, max-content);
    gap: min(10px, 1vw);
    max-height: inherit;
}

.color__input__wrapper {
    height: min(40px, 4vw);
    width: min(40px, 4vw);
    display: grid;
    overflow: hidden;
    border-radius: 100%;
    justify-content: center;
    align-content: center;
    box-shadow: 0 2px 6px #959da5;
    max-height: inherit;
}

.color__input {
    appearance: none;
    padding: 0;
    border: 0;
    height: min(60px, 7.5vw);
    width: min(60px, 7.5vw);
}