.places__wrapper {
    display: grid;
    font-size: 1em;
    transition: all 0.2s ease-in-out;
}

.place {
    display: grid;
    justify-content: center;
    align-content: center;
    transition: all 0.2s ease-in-out;
    background-color: white;
    font-size: min(1rem, 3vw);
}

.place>span {
    transition: all 0.2s ease-in-out;
}

.unvisible__places-wrapper {
    row-gap: 0;
    padding: 0;
}

.visible__places-wrapper {
    
}

.visible__place {
    margin-top: min(10px, 1vw);
    padding: min(30px, 3vw);
}

.unvisible__place>span {
    opacity: 0;
    font-size: 0;
}

.unvisible__place {
    opacity: 0;
}