.resume {
  display: grid;
  background-color: white;
  border-radius: min(20px, 2vw);
  background-color: white;
  justify-content: center;
  width: max(max-content, min-content);
  max-width: 1000px;
  justify-items: center;
  word-break: break-all;
  position: sticky;
  top: 0;
}
