.resume__head {
    display: grid;
    min-width: inherit;
    grid-area: head;
    background-color: var(--color);
    color: var(--resume-head__color);
}

.top__layout__areas>.resume__head {
    border-radius: min(10px, 1vw) min(10px, 1vw) 0 0;
}

.right__layout__areas>.resume__head {
    border-radius: 0 min(10px, 1vw) min(10px, 1vw) 0;
    height: 100%;
}

.left__layout__areas>.resume__head {
    border-radius: min(10px, 1vw) 0 0 min(10px, 1vw);
    height: 100%;
}

.personal__info {
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    width: 100%;
    padding: min(20px, 2vw) min(30px, 3vw) min(20px, 2vw) min(30px, 3vw);
}

.full__name>h1 {
    display: flex;
    font-size: 2.4rem;
}

.full__name,
.contact__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    row-gap: 1vw;
}

.contact__info {
    padding: min(10px, 1vw);
    column-gap: min(20px, 2vw);
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
}

.address {
    display: grid;
}