.sidebar {
  display: grid;
  background-color: white;
  justify-content: center;
  justify-items: center;
  border-radius: min(20px, 2vw);
  padding: min(10px, 1vw);
  font-size: min(16px, 3vw);
  position: sticky;
  top: 0;
}

.svg__wrapper {
  display: grid;
  width: min-content;
  border-radius: min(20px, 2vw);
  padding: min(10px, 1vw);
}

.sidebar>.content {
  cursor: pointer;
}

.sidebar>.customize {
  cursor: pointer;
}

@media screen and (min-aspect-ratio: 0.9/1) {
  .sidebar {
    grid-template-rows: 1fr 1fr;
  }
}

@media screen and (max-aspect-ratio: 0.9/1) {
  .sidebar {
    grid-template-columns: 1fr 1fr;
    border: 1px green solid;
  }
}
